<div class="row">
    <div class="col-12-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Cập nhật môn học</h3>
                    </div>
                    <!-- <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div> -->
                </div>
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Tên môn học *</label>
                            <input [(ngModel)]="currentSubject.subjectName" name="subjectName" type="text" placeholder="Tên môn học" class="form-control">
                            <span class="err">{{subjectError.subjectName}}</span>
                        </div>                       
                        
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Trạng thái *</label>
                            <select name="status" [(ngModel)]="currentSubject.status" class="select2" class="form-control">
                                <option value="true">Hoạt động</option>
                                <option value="false">Không còn giảng dạy</option>
                              </select>
                            
                            <span class="err">{{subjectError.status}}</span>
                        </div>    

                        <div class="col-12 form-group mg-t-8">
                            <button (click)="updateSubject()" type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>