<div class="mg-b-20">
    <div class="row gutters-8">

        <div class="col-10-xxxl col-xl-10 col-lg-3 col-12 form-group">
            <input #myNameInput type="text" name="search" placeholder="Nhập họ tên hoặc số điện thoại ..." class="form-control"
                (keyup.enter)="doSearch(myNameInput.value)" />
        </div>

        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
            <button (click)="doSearch(myNameInput.value)" type="submit" class="fw-btn-fill btn-gradient-yellow">
                Tìm kiếm
            </button>
        </div>
    </div>
</div>