<div class="breadcrumbs-area">
    <h1>Quản lý học sinh</h1>
  </div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h2>Danh sách học sinh</h2>
            </div>
        </div>
        <app-search (dataSearch)="dataSearch($event)"></app-search>
        <ng-container *ngIf="listStu.length !=0">
          <app-list [listStu]="listStu" (updateStatus)="updateStatus($event)"></app-list>
        </ng-container>
        <ng-container *ngIf="listStu.length ==0">
          <h3 style="text-align: center;">Không có học sinh nào</h3>
        </ng-container>
        
    </div>
</div>