<div id="wrapper" class="wrapper bg-ash">
  <!-- Header Menu Area Start Here -->
  <app-header></app-header>
  <!-- Header Menu Area End Here -->
  <!-- Page Area Start Here -->
  <div class="dashboard-page-one">
    <!-- Sidebar Area Start Here --> 
    <div class="bg-color">
      <app-navbar></app-navbar>
    </div>
    <!-- Sidebar Area End Here -->
    <div class="dashboard-content-one">
      <!-- Breadcubs Area Start Here -->
      <!-- <app-breadcub></app-breadcub> -->
      <!-- Breadcubs Area End Here -->
      <router-outlet></router-outlet>
      <!-- Footer Area Start Here -->
      <app-footer></app-footer>
      <!-- Footer Area End Here -->
    </div>
  </div>
  <!-- Page Area End Here -->
</div>
