<div class="row">
  <div class="col-12-xxxl col-12">
    <div class="card dashboard-card-twelve">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Môn học của học sinh</h3>
          </div>
        </div>
        <ng-container *ngIf="listSub.length !=0">
          <div class="kids-details-wrap">
            <div class="row">
              <div class="col-12-xxxl col-xl-12 col-12">
                <div class="kids-details-box mb-5">
                  <div class="table-responsive">
                    <table class="table display text-nowrap">
                      <thead>
                        <tr>
                          <th>Mã môn học</th>
                          <th>Tên môn học</th>
                          <th>Giáo viên phụ trách</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let sub of listSub">
                          <td>{{ sub.objSubject.id }}</td>
                          <td>{{ sub.objSubject.subjectName }}</td>
                          <td>{{ sub.objTeacher.teacherName }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="listSub.length ==0">
          <h4>Chưa có môn học</h4>
        </ng-container>
      </div>
    </div>
  </div>
</div>
